
$font-size-lg : 20px;
$font-size-md : 18px;
$font-size-sm : 16px;
$font-size-xs : 14px;


html, body {
  font-size: 16px;
  -webkit-text-size-adjust:none;

  @media(max-width: $breakpoint-xs-max)
  {
    font-size: 16px;

  }

  @media(min-width: $breakpoint-sm-min)
  {
    font-size: 18px;

  }
}


// actual title
.title-h1{
  font-size: 2.5rem;
  line-height: 1;
  font-weight: bold;

  @media(min-width: $breakpoint-sm-min) and (max-width: $breakpoint-sm-max)
  {
    font-size: 2rem;
  }

  @media(max-width: $breakpoint-xs-max)
  {
    font-size: 1.875rem;
  }

}

.title-h2, .editor-doc-basic h2, .doc-basic h2 {
  font-size: 1.875rem;
  line-height: 1;
  font-weight: bold;

  @media(min-width: $breakpoint-sm-min) and (max-width: $breakpoint-sm-max)
  {
    font-size: 1.785rem;
  }

}

.title-h3, .editor-doc-basic h3, .doc-basic h3 {
  font-size: 1.375rem;
  line-height: 1;
  font-weight: bold;

  @media(max-width: $breakpoint-md-max)
  {
    font-size: 1.25rem;
    line-height: 1.175;
  }

}

h1, h2, h3, .title-h1, .title-h2, .title-h3, p{
  margin: 0;
}

p + p, h2 + p, h3 + p, h2.title-h2 + p, h3.title-h3 + p {
  margin-top: 1rem;
}


