
$font-size-lg : 20px;
$font-size-md : 18px;
$font-size-sm : 16px;
$font-size-xs : 14px;


html, body {
  font-size: 16px;
  -webkit-text-size-adjust:none;

}


// actual title
.title-h1{
   font-size: 2.5rem;
   line-height: 1;

}

.title-h2  {
  font-size: 1.75rem;
  line-height: 1.125 ;
}

.title-h3  {
  font-size: 1.25rem;
  line-height: 1;

}
h1, h2, h3, .title-h1, .title-h2, .title-h3, p{
  margin: 0;
}


.article, .doc-basic, .pm-doc {



  p + p, h2 + p, h3 + p, h2.title-h2 + p, h3.title-h3 + p {
    margin-top: 1rem;
  }

  p + h2.title-h2, p + h3.title-h3 {
    margin-top: 1.5rem;
  }
}



